.topnav {
  width: 100%;
}
.topnav__logo {
  flex: 0 0 50px;
}
.topnav__logo a {
  font-size: 1.5rem;
}
.topnav__bg {
  width: 100%;
  background-color: #1c232e;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  display: inline-block;
}
.topnav .group-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 70px 1fr;
}
.topnav .group-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.topnav__search {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
  font-size: 1rem;
  width: calc(100% - 39px) !important;
}
.topnav__search-btn {
  border-radius: 0;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 40px;
  width: 39px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 1.2rem;
}
.topnav__links-container {
  margin-top: 0.9rem;
}
.topnav__links {
  flex: 0 0 45%;
}
.topnav__links a:hover {
  transition: all 0.25s ease-in;
  color: #0094c9 !important;
}
.topnav__links-container li {
  display: inline-block;
  color: white;
  cursor: pointer;
}
.topnav__links-container li a {
  margin-right: 0.1rem;
  text-decoration: none;
}

.auth {
  position: relative;
  display: flex;
  flex: 0 0 54%;
  padding: 10px 0;
  justify-content: flex-end;
  align-items: center;
}
.auth .user__pic,
.auth .notification,
.auth .dropleft,
.auth .language__select {
  text-align: center;
  width: 40px;
}
.auth .fa {
  color: white;
  font-size: 1.4rem;
}
.auth .language__select {
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 34px;
  height: 34px;
  background: white;
}
.auth .language__select .abbriev {
  position: absolute;
  top: -12px;
  right: -5px;
  color: white;
  border-radius: 50%;
  background: #004fef;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
  z-index: 3;
}
.auth .language__select:hover {
  background-color: #0094c9;
}
.auth .language__select:hover .fa {
  color: white !important;
}
.auth .language__select i {
  color: black;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  top: 4px;
  width: 100%;
}
.auth .language__select i:hover {
  color: white;
}

.dropdown-1,
.dropdown-2,
.dropdown-3 {
  background: #f7f7f7;
  text-align: center;
  padding: 20px 2px;
  display: none;
}
.dropdown-1 i,
.dropdown-2 i,
.dropdown-3 i {
  font-size: 41px;
  color: #566d7f;
}
.dropdown-1 span,
.dropdown-2 span,
.dropdown-3 span {
  display: inline-block;
  background-color: #e9edf1;
  color: #566d7f;
  width: 130px;
  height: 125px;
  padding-top: 9px;
  padding-bottom: 3px;
  border-bottom: 7px solid #fff;
  vertical-align: middle;
  cursor: pointer;
}

.toggle-1 a,
.toggle-2 a,
.toggle-3 a {
  font-size: 1.1rem;
}
.toggle-1 .fa-angle-up,
.toggle-2 .fa-angle-up,
.toggle-3 .fa-angle-up {
  display: none;
}
.toggle-1 a:hover ~ .fa,
.toggle-2 a:hover ~ .fa,
.toggle-3 a:hover ~ .fa {
  transition: all 0.25s ease-in;
  color: #0094c9;
}

.dropdown-1 .technology:hover {
  border-bottom: 7px solid #004fef;
  transition: all 0.25s ease-in;
}
.dropdown-1 .technology:hover .fa-laptop {
  color: #004fef;
  transition: all 0.25s ease-in;
}
.dropdown-1 .language:hover {
  border-bottom: 7px solid green;
  transition: all 0.25s ease-in;
}
.dropdown-1 .language:hover .fa-language {
  color: green;
  transition: all 0.25s ease-in;
}
.dropdown-1 .science:hover {
  border-bottom: 7px solid purple;
  transition: all 0.25s ease-in;
}
.dropdown-1 .science:hover .fa-flask {
  color: purple;
  transition: all 0.25s ease-in;
}
.dropdown-1 .heartbeat:hover {
  border-bottom: 7px solid red;
  transition: all 0.25s ease-in;
}
.dropdown-1 .heartbeat:hover .fa-heartbeat {
  color: red;
  transition: all 0.25s ease-in;
}
.dropdown-1 .business:hover {
  border-bottom: 7px solid orange;
  transition: all 0.25s ease-in;
}
.dropdown-1 .business:hover .fa-briefcase {
  color: orange;
  transition: all 0.25s ease-in;
}
.dropdown-1 .mathematics:hover {
  border-bottom: 7px solid purple;
  transition: all 0.25s ease-in;
}
.dropdown-1 .mathematics:hover .fa-square-root-alt {
  color: purple;
  transition: all 0.25s ease-in;
}
.dropdown-1 .marketing:hover {
  border-bottom: 7px solid #c81a7f;
  transition: all 0.25s ease-in;
}
.dropdown-1 .marketing:hover .fa-bullseye {
  color: #c81a7f;
  transition: all 0.25s ease-in;
}
.dropdown-1 .lifestyle:hover {
  border-bottom: 7px solid #2a0040;
  transition: all 0.25s ease-in;
}
.dropdown-1 .lifestyle:hover .fa-pray {
  color: #2a0040;
  transition: all 0.25s ease-in;
}
.dropdown-1 .humanities:hover {
  border-bottom: 7px solid greenyellow;
  transition: all 0.25s ease-in;
}
.dropdown-1 .humanities:hover .fa-universal-access {
  color: greenyellow;
  transition: all 0.25s ease-in;
}
.dropdown-1 .allapp:hover {
  border-bottom: 7px solid #004fef;
  transition: all 0.25s ease-in;
}
.dropdown-1 .allapp:hover .fa {
  color: #004fef;
  transition: all 0.25s ease-in;
}

.dropdown-2 span:hover,
.dropdown-3 span:hover {
  border-bottom: 7px solid #004fef;
  transition: all 0.25s ease-in;
}
.dropdown-2 span:hover .fa,
.dropdown-2 span:hover .fas,
.dropdown-3 span:hover .fa,
.dropdown-3 span:hover .fas {
  color: #004fef;
  transition: all 0.25s ease-in;
}

.language__globe {
  position: absolute;
  right: -10px;
  display: none;
  z-index: 100;
}
.language__globe ul {
  background-color: #f7f7f7;
  width: 228px;
  height: 230px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 3px 8px 0 rgba(50, 50, 50, 0.81);
}
.language__globe li {
  padding: 0.5rem 0.4rem;
  list-style: none;
}
.language__globe a {
  color: #465159;
  font-size: 1.1rem;
  text-decoration: none;
}
.language__globe a:hover,
.language__globe a:active {
  color: #004fef;
}

.user_menu {
  display: none;
  width: 250px;
  background-color: white;
  position: absolute;
  z-index: 100;
  right: 10px;
  text-align: left;
  padding: 10px 0;
  padding-bottom: 0;
}

.fa-caret-up {
  font-size: 40px;
  position: absolute;
  top: -25px;
  left: 95px;
  color: white;
}

.user_details {
  border-bottom: 1px solid gray;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.user_details img {
  width: 60px;
  height: 60px;
}
.user_details p {
  margin: 0;
}
.user_details .user_btn {
  width: calc(100% - 70px);
  padding-left: 10px;
}
.user_details button {
  border: none;
  margin-top: 5px;
  padding: 3px 20px;
  font-size: 12px;
}

.actions {
  padding: 10px 0;
}
.actions p {
  padding: 10px;
  margin: 5px 0;
}
.actions p a {
  color: gray;
}
.actions p i {
  font-size: 1.2rem;
  margin-right: 10px;
}
.actions p:hover {
  background-color: #004fef;
  transition: all 1s;
  color: white;
}
.actions p:hover a {
  color: white;
  text-decoration: none;
}
