@import "components/config";
@import "components/start_course/sidebar";
@import "components/start_course/row1";
@import "components/start_course/row2";


@media screen and (min-width: 1100px) {
  main {
    .content {
      display: grid;
      grid-template-columns: 3fr 9fr;
      .sidebar {
        position: relative;
        left: 0;
        width: 100%;

        header {
          left: 0;
          top: 0px;

          .close {
            display: none !important;
          }
        }
      }
    }
  }
}


// Javascript class related functions
.show_sidebar {
  left: 0 !important;
}
.display_flex {
  display: flex !important;
}
//ends here
