@import "components/config";
@import "components/start_course/sidebar";
@import "components/start_course/row1";
@import "components/start_course/row2";


@media screen and (min-width: 1100px) {
  main {
    .content {
      .sidebar {
        position: absolute;
        left: 0;
        width: 60%;
        display: inline-block;

        header {
          left: 0;
          top: 0px;

        }
      }

      .main_content{
        .row1, .row2{
          z-index: 99;
          padding: 20px 150px;
        }
        .row2 {
          margin-top: 100px !important;
        }
      }
    }
  }
}


// Javascript class related functions
.show_sidebar {
  left: 0 !important;
}
.display_flex {
  display: flex !important;
}
//ends here
