@import "components/createcourse";
@import "components/sidebar";
@import "components/engaging";
@import "components/videoaudience";
@import "components/newcomer";
@import "components/resources";
@import "components/ready";
@import "components/responsive";
 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
  position: relative;
}

.user {
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    padding: 0.4rem 0.5rem;
    font-weight: normal;
    cursor: pointer;

    .fa {
      font-size: 1.5rem;
    }
  }

  &__name {
    color: white;
    margin-left: 13px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: grey;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;
}

main {
  position: relative;
  padding: 0 2rem;
  padding-right: 3.5rem;
}

.opacify {
 opacity: .8;
}

.marginbt {
 margin-top: 55px;
 margin-bottom: 55px;
}

p {
 font-size: 1.1rem;
}

.box-shadow {
   box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);

   &:hover {
       box-shadow: 0 4px 16px rgba(20, 23, 28, .25);
   }
}