@import "components/utilities";
@import "components/user";
@import "components/sidebar";

@import "components/courses/createcourse";
@import "components/courses/engaging";
@import "components/courses/videoaudience";
@import "components/courses/newcomer";
@import "components/courses/resources";
@import "components/courses/ready";

@import "components/communication/communication";
@import "components/performance/performance";

@import "components/footer";
@import "components/mobilenav";
@import "components/responsive";
 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
  position: relative;
}

.wrapper {
 width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 4px;
}

main {
  position: relative;
  z-index: 100;
  width: 99%;
  margin: auto;
  padding: 0 2rem;
  padding-right: 3.5rem;
  // outline: 2px solid red;
}

.courses {
 padding-top: 80px;
 display: none;
}

.communication {
 height: 100vh;
 padding: 0;
 display: none;
}

.performance {
 height: 100vh;
 padding: 0;
}
