@import "components/variables";
// @import "components/utilities";
 @import "components/header";
// @import "components/navigation";
// @import "components/button";
// @import "components/animation";
// @import "components/class";
// @import "components/features";
// @import "components/stories";
// @import "components/newsletter";
// @import "components/footer";
@import "components/responsive";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // font-size: 62.5%; //10px => 10 / 16 = .625 ~ 62.5
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
