.press {
  &__social {
    display: flex;
    justify-content: center;
  }

  .press__listing {
    list-style: none;
    text-align: center;

    p {
      color: #465159;
    }

    img {
      height: 100px;
      width: 100px;
    }

    li {
      display: inline-block;
      height: 300px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      margin: 20px;
      max-width: 280px;
      padding: 20px 10px;
      vertical-align: top;
    }
  }

  .btn-md {
    border-radius: 0;
    width: 100%;
  }
}
