.createcourse__container {
  margin: auto;
  padding: 3.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.createcourse__text {
  display: flex;
  align-items: center;
}
.createcourse__text .fa {
  font-size: 6rem;
}
.createcourse__text h3 {
  font-weight: 100;
  font-size: 2.5rem;
  font-family: sans-serif;
}
.createcourse__button {
  width: 250px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.info {
  text-align: center;
  opacity: 0.8;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  overflow-x: hidden;
  height: 100vh;
  z-index: 100;
  background: #52143e;
  transition: 0.4s;
}
.sidebar:hover {
  width: 260px;
}
.sidebar .list-logo {
  margin-bottom: 20px;
}
.sidebar .list-logo:hover {
  background-color: transparent;
}
.sidebar .list-logo img {
  width: 50px;
  height: 50px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.sidebar ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
}
.sidebar ul li:hover {
  background: #771d5a;
}
.sidebar ul li a > i {
  font-size: 2rem;
  font-weight: 100;
  padding: 0 0.7rem;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.active-list {
  border-left: 4px solid red;
}

.engaging {
  margin: auto;
  display: flex;
  align-items: center;
}
.engaging__img {
  flex: 0 0 40%;
  text-align: center;
}
.engaging__img img {
  width: 250px;
  height: 250px;
}
.engaging p {
  padding-right: 1.5rem;
}
.engaging a {
  width: 65px;
  font-size: 1.1rem;
}

.video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}
.video__img {
  flex: 0 0 40%;
  text-align: center;
}
.video img {
  width: 150px;
  height: 150px;
}
.video__audience {
  display: flex;
  padding: 0.8rem 0.2rem;
  align-items: center;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}
.video__start {
  display: flex;
  padding: 0.8rem 0.2rem;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
  align-items: center;
}
.video a {
  width: 85px;
  font-size: 1.1rem;
}

.newcomer {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.newcomer__img {
  width: 100%;
  text-align: center;
}
.newcomer__img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.newcomer__body {
  padding-right: 1.4rem;
}
.newcomer p {
  padding-right: 1.5rem;
}
.newcomer a {
  width: 65px;
  font-size: 1.1rem;
}

.resources {
  text-align: center;
}
.resources__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 180px));
  gap: 10px;
  justify-content: center;
}
.resources__items .fa {
  font-size: 2rem;
  opacity: 0.7;
}
.resources__items h6 {
  font-weight: bold;
  font-size: 1.1rem;
  opacity: 0.8;
}
.resources__items-text {
  font-size: 0.9rem;
  opacity: 0.9;
  padding: 0.5rem;
}
.resources a {
  color: black;
  text-decoration: none;
}

.ready {
  margin-top: 150px;
}
.ready__button {
  width: 250px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

@media (max-width: 900px) {
  .createcourse__container {
    flex-direction: column;
    text-align: center;
  }
  .createcourse__container .fa {
    display: block;
    margin-bottom: 20px;
  }
  .createcourse__text {
    display: block;
  }
  .createcourse__button {
    margin-top: 0.9rem;
  }
  .createcourse .fa {
    font-size: 4.5rem;
  }
  .createcourse h3 {
    font-size: 1.8rem;
  }

  .engaging {
    flex-direction: column;
  }
  .engaging__body {
    padding: 10px 30px;
  }

  .video {
    grid-template-columns: 1fr;
  }
  .video__img {
    flex: 0 0 100%;
    text-align: center;
    margin: auto;
  }
  .video img {
    width: 250px;
    height: 250px;
  }
  .video__audience {
    flex-direction: column;
    align-items: flex-start;
  }
  .video__start {
    flex-direction: column;
    align-items: flex-start;
  }
  .video__body {
    padding: 10px 30px;
  }

  .newcomer {
    grid-template-columns: 1fr;
  }
  .newcomer__body {
    padding: 10px 30px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .createcourse h3 {
    font-size: 2rem;
  }
  .createcourse .fa {
    font-size: 5rem;
  }
  .createcourse__button {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .wrapper {
    display: block;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .divider {
    display: none;
  }

  .user {
    display: none !important;
  }

  main {
    width: 100vw !important;
    padding: 0 2rem !important;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
  position: relative;
}

.user {
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user span {
  padding: 0.4rem 0.5rem;
  font-weight: normal;
  cursor: pointer;
}
.user span .fa {
  font-size: 1.5rem;
}
.user__name {
  color: white;
  margin-left: 13px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: grey;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;
}

main {
  position: relative;
  padding: 0 2rem;
  padding-right: 3.5rem;
}

.opacify {
  opacity: 0.8;
}

.marginbt {
  margin-top: 55px;
  margin-bottom: 55px;
}

p {
  font-size: 1.1rem;
}

.box-shadow {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}
.box-shadow:hover {
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}

/*# sourceMappingURL=dashboard.css.map */
