.navs {
  width: 100%;
  background-color: white;
}
.navs__mobile {
  width: 99%;
  padding: 1rem 0.7rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.navs__mobile-icon {
  width: 70px;
}
.navs__mobile-logo {
  width: calc(100% - 110px);
  text-align: center;
  font-size: 1.5rem;
}
.navs__mobile-logo a {
  text-decoration: none;
  color: black;
}
.navs__mobile-cart {
  width: 40px;
  text-align: right;
}
.navs__mobile .fa {
  font-size: 1.3rem;
}
.navs__mobile .fa-search {
  padding-left: 20px;
}

.hero__bg {
  background-image: url(../../img/header-image2.jpg);
  background-image: url(../img/header-image2.jpg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero__body {
  padding-left: 1rem;
  padding-right: 1rem;
}
.hero__body .btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-top: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero__main-text {
  font-size: 3rem;
}
.hero__sub-text {
  font-size: 1.2rem;
  width: 400px;
}

.potential {
  width: 100%;
}
.potential__heading {
  color: #29303b;
}
.potential hr {
  border: 1px solid #29303b;
  width: 45px;
  margin: 0 auto;
}
.potential .fa, .potential .fas {
  font-size: 2.8rem;
}
.potential__details {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-left: 65px;
  padding-right: 65px;
  justify-content: center;
}
.potential__text {
  margin-right: 20px;
}

.opportunities {
  width: 100%;
}
.opportunities__bg {
  background: #505763 url(../../img/exceptional-opportunity.png) center center no-repeat;
  background-image: url(../img/exceptional-opportunity.png);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 70px;
}
.opportunities ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 180px));
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
}
.opportunities li {
  font-size: 3.4rem;
  display: inline-block;
}
.opportunities li > span {
  font-size: 1.2rem;
  display: block;
}

.envision {
  overflow-x: hidden;
}
.envision__line {
  border: 1px solid rgba(41, 48, 59, 0.25);
  width: 100px;
}

.envision__body {
  padding-top: 30px;
}
.envision__body-icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.envision__body-icon-1, .envision__body-icon-2, .envision__body-icon-3 {
  width: 260px;
}
.envision__body-icon-1 p, .envision__body-icon-2 p, .envision__body-icon-3 p {
  font-weight: bold;
  font-size: 1.2rem;
}
.envision__body-icon-1 .fas, .envision__body-icon-2 .fas, .envision__body-icon-3 .fas {
  font-size: 2.2rem;
}
.envision__body-content {
  text-align: left;
  padding-left: 100px;
}
.envision__body h5 {
  font-weight: bold;
  font-size: 1.3rem;
}
.envision__body-image {
  padding-left: 30px;
  padding-right: 30px;
}
.envision__body-image img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.testimonial {
  margin-top: 130px;
}
.testimonial img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.testimonial .name {
  font-weight: bold;
}
.testimonial .role {
  display: block;
  font-weight: normal;
}
.testimonial .card {
  padding: 1rem 1.2rem;
}
.testimonial .card-body {
  padding: 0;
  margin-top: 90px;
  display: flex;
  align-items: center;
}
.testimonial .card-1 {
  border-top: 7px solid purple;
}
.testimonial .card-2 {
  border-top: 7px solid green;
}
.testimonial .card-3 {
  border-top: 7px solid yellow;
}

@media (min-width: 0px) and (max-width: 790px) {
  .hero__bg {
    padding-top: 170px;
    padding-bottom: 20px;
  }
  .hero__main-text {
    font-size: 2rem;
  }
  .hero__sub-text {
    font-size: 1.1rem;
    width: 80%;
  }
  .hero .btn {
    width: 100%;
    margin-top: 1.3rem;
  }

  .potential__details {
    flex-direction: column;
    width: 99%;
    margin: 0 auto;
  }
  .potential__text {
    margin-bottom: 20px;
  }

  .main2-heading {
    font-size: 1.7rem !important;
  }
}
@media (max-width: 600px) {
  .opportunities ul {
    grid-template-columns: repeat(auto-fit, minmax(110px, 120px));
    gap: 20px;
  }
  .opportunities ul li {
    font-size: 2.5rem !important;
  }
  .opportunities ul li li > span {
    font-size: 1.1rem;
  }
}
@media (max-width: 899px) {
  .envision .envision__body {
    margin-top: -45px;
    padding-top: 0px;
  }
  .envision .envision__body-icon {
    display: none;
  }
  .envision .envision__body img {
    width: 60%;
  }
}
@media (max-width: 780px) {
  .envision .envision__body-content {
    text-align: left;
    padding-right: 50px;
  }
  .envision .envision__body-image {
    display: none;
  }
}
@media (max-width: 830px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
  position: relative;
}

p {
  font-size: 1.1rem;
}

.main2-heading {
  font-weight: 300;
  font-size: 2.4rem;
}

.opacify {
  opacity: 0.8;
}

.bottom-line {
  border: 1px solid #288745;
  width: 45px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
