@import "components/variables";
@import "components/utilities";
@import "components/header";
@import "components/hero";
@import "components/main";
@import "components/footer";
@import "components/responsive";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  //remove horizontal scroll from body
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
