.createcourse {

 &__container {
  width: 95% !important;
  margin: auto;
  padding: 2rem .8rem;
  box-shadow: 2px 4px 5px .1px gainsboro;
  display: flex;
  align-items: center;
 justify-content: space-between;
 }

 &__text {
  display: flex;
  align-items: center;

  .fa {
   font-size: 2.5rem;
  }
 }

 &__button{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
}