@import "variables";

.footer {
 background: #2e3942;
  margin-bottom: 0;
  font-size: 1.5rem;
  padding: 20px 0 0;
  position: relative;

  &__header {
   color: white;
   width: 110px;
   font-weight: 400;
   line-height: 16px;
   
  }

  hr {
   border: 2px solid $deepblue;
   display: block;
   padding: 0;
   margin: 0;
   margin-top: 6px;
  width: 50%;
  }

  &__links {
   list-style: none;
   margin: 0;
   padding: 0;
   padding-bottom: 20px;
   width: 100px;

   li {
    margin: 0;
    padding: 0;

    a {
     color: white;
     font-size: .8rem;
     margin: 0;
     padding: .1rem 0;
     transition: all .25s ease-in;
     &:hover {
      padding-left: .2rem;
     }
    }
   }
  }

  .container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(140px, 150px));
   justify-content: center;
   align-items: center;
   gap: 20px;
   
  }

  .nav-container {
   margin: 0 auto;
  }
  
  &__go-up{
   position: absolute;
   right: 10px;
   bottom: 20px;
   z-index: 2;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   width: 50px;
   height: 50px;
   background: lighten($deepblue,20%);

   .arrow-up {
    position: relative;
    top: 4px;
    left: 12px;
    font-size: 2.5rem;    
   }
}

&__copyright {
 width: 100%;
 background: #1c232e;

 .title {
  font-size: 1.6rem;
 }

 .copyright__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  margin: auto;
  list-style: none;

  li {
   height: 25px;
   line-height: 5px;
   vertical-align: middle;

   &:not(:last-child) {
    border-right: 1px solid lighten(#2e3942, 16%);
   }
  }

  a{
   font-size: 1rem;
   color: lighten(#2e3942, 16%);

   &:hover {
    color: lighten(#2e3942, 25%);

   }
  }
 }
}
}
