/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 //CSS
 
}

/* 
 ##Device = Laptops, Desktops
 ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
 
 //CSS
 
}

/* 
 ##Device = Tablets, Ipads (portrait)
 ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 
 //CSS
 
}

/* 
 ##Device = Tablets, Ipads (landscape)
 ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
 //CSS
 
}

/* 
 ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 
 //CSS
 
}

/* 
 ##Device = Most of the Smartphones Mobiles (Portrait)
 ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 
 //CSS
 
}

@media (max-width: 1256px) {
 .topnav {

  &__bg {
   display: inline-block;
  }

  .group-1 {
   display: grid;
   gap: 10px;
   grid-template-columns: 70px 1fr;
  }
 
  .group-2 {
   display: grid;
   grid-template-columns: 2fr 1fr;
  }

  &__search {
   width: 92% !important;
  }

}

}

@media (max-width: 594px) {
 .topnav {
  &__search {
   width: 80% !important;
  }

}

}

@media (max-width: 990px) {
 .hero {
 
  &__bg {
   padding: 40px 1rem;
  }

 &__header {
   font-size: 2rem;
  }

}

}