@media (max-width: 900px) {
  .createcourse {
    &__container {
      flex-direction: column;
      text-align: center;

      .fa {
       display: block;
       margin-bottom: 20px;
      }
    }

    &__text {
     display: block;
    }

    &__button { 
      margin-top: 0.9rem;
    }

    .fa {
      font-size: 4.5rem;
    }

    h3 {
      font-size: 1.8rem;
    }
  }

  .engaging {
    flex-direction: column;
   &__body{
     padding: 10px 30px;
   }
  }

  .video {
    grid-template-columns: 1fr;

    &__img {
      flex: 0 0 100%;
      text-align: center;
      margin: auto;
    }

    img {
      width: 250px;
      height: 250px;
    }

    &__audience {
      flex-direction: column;
      align-items: flex-start;
    }

    &__start {
      flex-direction: column;
      align-items: flex-start;
    }

    &__body {
     padding: 10px 30px;
    }
  }

  .newcomer {
    grid-template-columns: 1fr;

    &__body {
     padding: 10px 30px;
    }
  }

}

@media (min-width: 900px) and (max-width: 1100px) {
  .createcourse {
    h3 {
      font-size: 2rem;
    }

    .fa {
      font-size: 5rem;
    }

    &__button {
      width: 200px;
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    display: block;
    width: 100%;
  }

  .mobile-nav {
   display: block;
   width: 100vw;
  }

  .sidebar {
    display: none;
  }

  .divider {
    display: none;
  }

  .user {
   display: none !important;
  }

  main {
    width: 100vw !important;
    padding: 0 2rem !important;
  }

  .footer {
   position: absolute;
 
   .lang {
   position: absolute;
   top: 5px;
   right: 10px;
   }
  }

  .communication {
   &__sidebar {
    display: none;
   }

   &__dashboard {
    width: 100%;
   }
  }
}

@media (max-width: 566px) {
 .footer {
  display: inline-block;
  ul {
    width: 100%;
    justify-content: center;
  }
 }
}