.story {
  background-color: lighten(grey, 45%);
  margin: 0 auto;
  padding: 20px 10px;

  h6 {
    font-size: 1.1rem;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 290px));
    justify-content: center;
    gap: 5px;
    grid-gap: 5px;
    align-items: center;
  }

  li {
    box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.2);
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
}
