.btn__button {
  width: 220px;
  border-radius: 0;
  background: #317036;
  border: 1px solid #317036;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: white;
}
.btn__button:hover {
  background: #39823f;
  border: 1px solid #317036;
  color: white;
}

.main-header {
  font-size: 2.1rem;
}

.main-sub-header {
  font-size: 1.4rem;
  line-height: 14px;
}

.sub-header {
  font-size: 1.6rem;
}

.paragraph {
  font-size: 1.1rem;
}

.paragraph-header {
  font-size: 1.3rem;
}

.opacify {
  opacity: 0.9;
}

.hero {
  background-image: linear-gradient(90deg, #232021 0, #0386d1);
  padding: 50px 10px;
}
.hero .paragraph {
  width: 620px;
  margin: 0 auto;
}
.hero a {
  text-decoration: none;
}

.footer {
  background: #343434;
  display: flex;
  padding: 10px 5px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.footer .nav-container {
  width: 150px;
}
.footer__header {
  color: white;
}
.footer ul {
  list-style: none;
}
.footer a {
  color: white;
  line-height: 10px;
}

.steps {
  background: #f8f8f8;
}
.steps .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.steps__card {
  width: 20%;
}
.steps .arrow {
  align-self: center;
}
.steps__header {
  height: 200px;
}
.steps-body {
  margin-top: 10px;
}
.steps .rotate {
  transform: translate(-10%, -50%) scaleY(-1);
  -webkit-transform: translate(-10%, -50%) scaleY(-1);
  -moz-transform: translate(-10%, -50%) scaleY(-1);
  -ms-transform: translate(-10%, -50%) scaleY(-1);
  -o-transform: translate(-10%, -50%) scaleY(-1);
}

.refer-rewards p {
  line-height: 22px;
}
.refer-rewards .stats-btn {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.refer-rewards .stats-btn .btn {
  width: 100%;
}
.refer-rewards .refer-footer {
  background: #f8f8f8;
  padding: 25px 10px;
  padding-bottom: 1px;
}
.refer-rewards .refer-footer small {
  font-size: 0.9rem;
}
.refer-rewards .refer-footer-bg {
  background: #ededed;
  padding: 90px 0;
}

@media (min-width: 1256px) {
  .topnav__bg {
    display: flex;
    align-items: center;
  }
  .topnav .group-1 {
    display: flex;
    align-items: center;
    flex: 0 0 30%;
  }
  .topnav .group-2 {
    display: flex;
    flex: 0 0 70%;
    align-items: center;
  }
  .topnav__search {
    width: 224px !important;
    font-size: 1rem;
  }
}
@media (max-width: 1000px) {
  .steps .container {
    width: 100% !important;
    max-width: 99% !important;
  }
  .steps .arrow {
    display: none;
  }
  .steps__card {
    width: 33.3%;
    padding: 4px 10px;
  }
}
@media (max-width: 880px) {
  .steps .container {
    flex-direction: column !important;
    justify-content: center;
  }
  .steps__card {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 0px) {
  .language__globe {
    position: absolute;
    top: 73px;
  }
}
@media (min-width: 0px) and (max-width: 620px) {
  .group-2 {
    display: grid;
    grid-template-columns: 1fr !important;
    justify-content: center !important;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .footer {
    flex-direction: column;
  }
  .footer .nav-container {
    width: 99%;
  }
}
@media (max-width: 800px) {
  .main-header {
    font-size: 1.8rem;
  }

  .main-sub-header {
    font-size: 1.2rem;
  }

  .sub-header {
    font-size: 1.4rem;
  }

  .hero .paragraph {
    width: 90%;
  }
}
@media (max-width: 420px) {
  .dropleft {
    position: static !important;
  }

  .dropleft .dropdown-menu {
    width: 90vw !important;
    position: absolute !important;
    left: 0 !important;
    transform: translate3d(0px, 45px, 0px) !important;
    -webkit-transform: translate3d(0px, 45px, 0px) !important;
    -moz-transform: translate3d(0px, 45px, 0px) !important;
    -ms-transform: translate3d(0px, 45px, 0px) !important;
    -o-transform: translate3d(0px, 45px, 0px) !important;
  }

  .btn__button {
    width: 90%;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*# sourceMappingURL=refer-friend.css.map */
