
    .sidebar {
        position: relative;
        header {
          background-color: $gb_color;
          color: #1c232e;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          h5 {
            font-size: 18px;
            padding: 15px 0;
            li {
              display: inline;
            }
            li.desktop_side {
              display: none;
            }
          }
          span {
            position: absolute;
            right: 30px;
            top: 20px;
            i {
              color: $brand_color;
            }
          }
          span.close {
            display: none;
          }
        }
        .content {
          display: none;
        }
      }
@media screen and (min-width: 560px) {
  .sidebar {
    position: absolute;
    left: -750px;
    transition: left 1s ease-in-out;
    width: 70%;
    z-index: 99;

    header {
      min-height: 70px;
      width: 100px;
      transition: width 0.5s ease-in;
      position: absolute;
      left: 750px;
      justify-content: left;
      h5 {
        display: none;
        margin-left: 40px;
        li.mobile {
          display: none;
        }
        li.desktop_side {
          display: inline;
        }
      }
      span {
        left: 20px;
      }
      span.close {
        display: block;
        left: 80%;
        cursor: pointer;
      }
    }
    .content {
      display: block;
      margin-left: 0px;
      ul {
        margin-top: 80px;
        background-color: $gb_color;
        li {
          margin-bottom: 5px;
          list-style: none;
          font-size: 23px;
          background-color: white;
          a {
            color: gray;
          }
          span {
            width: 70px;
            height: 100%;
            background-color: $gb_color;
            display: inline-flex;
            justify-content: center;
            color: gray;
          }
          i {
            width: 30px;
            margin-left: 20px;
          }
          p {
            display: inline-block;
          }
          span,
          i,
          p {
            padding: 20px 0;
          }
        }
        li:hover,
        li.active {
          background-color: $brand_color;
          transition: background-color 0.5s ease-in-out;
          a {
            color: white;
          }
        }
        aside {
          padding: 30px 0;
          color: gray;
          display: flex;
          justify-content: space-around;
          i {
            cursor: pointer;
          }
          i:hover {
            color: $brand_color;
          }
        }
      }
    }
  }
}
