.sidebar {
  position: relative;
  header {
    background-color: $gb_color;
    color: #1c232e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    p {
      position: absolute;
      right: 20px;
      top: 15px;
      i {
        font-size: 35px;
      }
    }
    h5 {
      color: black;
      padding: 10px 0;
    }
    .desktop_side {
      display: none;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      display: none;
    }
  }

  .content {
    display: none;
  }
}
@media screen and (min-width: 560px) {
  main {
    position: relative;
    .sidebar {
      position: absolute;
      top: -20px;
      left: 0px;
      transition: left 1s ease-in-out;
      z-index: 1;

      header {
        min-height: 60px;
        width: 150px;
        transition: width 0.5s ease-in;
        justify-content: left;
        position: relative;

        p {
          left: 20px;
        }
        h5 {
          display: none;
        }
        li.desktop_side {
          display: none;
          list-style: none;
          padding: 0 10px 0 60px;
          h3{
            font-size: 20px;
          }

        }
        .close {
          display: block;
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }
      .content {
        display: block;
        margin-left: 0px;
        ul {
          background-color: $gb_color;
          overflow-x: hidden;
          width: 50px;
          transition: width 0.5s ease-in-out;

          li {
            margin-bottom: 5px;
            list-style: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            height: 60px;

            span {
              width: 60px;
              height: 100%;
              padding: 18px;
              display: inline-flex;
              justify-content: center;
              color: gray;
              cursor: pointer;
              background-color: $gb_color;
            }
            a {
              display: flex;
              align-items: center;
              justify-content: left;
              color: gray;
              width: 100%;
              height: 100%;
              background: linear-gradient(to left, white 50%, $brand_color 50%);
              background-size: 200% 100%;
              background-position: right bottom;
              transition: all 1s ease;
              text-decoration: none;
              i {
                width: 30px;
                margin-left: 20px;
                display: block;
              }
              p {
                text-align: right;
                margin-top: 15px;
                padding-right: 20px;
                width: 100%;
              }
            }
            a:hover{
              background-position:left top;
              color: white;
              opacity: 1;
            }
          }
          li:hover, li.active{
            span{
              background-color: $brand_color;
              color: white;
            }
          }
        }
        aside{
          height: 50px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 30px;

          i{
            cursor: pointer;
          }
        }
      }
    }
  }
}
