.sidebar {
  position: relative;
  header {
    display: none;
    background-color: $gb_color;
    color: #1c232e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    li.desktop_side {
      display: none;
    }
    h5 {
      font-size: 18px;
      padding: 15px 0;
      li {
        display: inline;
      }
    }
    span {
      position: absolute;
      right: 30px;
      top: 20px;
      i {
        color: $brand_color;
      }
    }
    span.close {
      display: none;
    }
  }
  .content {
    display: none;
  }
}
@media screen and (min-width: 560px) {
  .sidebar {
    position: absolute;
    left: 0px;
    transition: left 1s ease-in-out;
    width: 70%;
    z-index: 99;

    header {
      min-height: 60px;
      width: 100px;
      transition: width 0.5s ease-in;
      justify-content: left;
      position: relative;

      li.desktop_side {
        margin-left: 60px;
        list-style: none;
        display: none;
      }
      h5 {
        display: none;
        margin-left: 40px;
        li.mobile {
          display: none;
        }
      }
      span {
        left: 20px;
      }
      span.close {
        display: block;
        left: 85%;
        cursor: pointer;
      }
    }
    .content {
      display: block;
      margin-left: 0px;
      ul {
        background-color: $gb_color;
        overflow-x: hidden;
        width: 70px;
        transition: width 0.5s ease-in-out;

        li {
          margin-bottom: 5px;
          list-style: none;
          font-size: 23px;
          overflow-x: hidden;
          display: flex;
          align-items: center;

          span {
            width: 70px;
            height: 100%;
            padding: 20px 10px;
            display: inline-flex;
            justify-content: center;
            color: gray;
            cursor: pointer;
            background-color: $gb_color;
          }
          span:hover {
            background-color: $brand_color;
          }
          a {
            display: none;
            color: gray;
            width: 100%;
            background: linear-gradient(to left, white 50%, $brand_color 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 1s ease;

            padding: 20px 0;
            i {
              width: 30px;
              margin-left: 20px;
            }
            p {
              display: inline-block;
            }
          }
          a:hover {
            background-position: left bottom;
            color: white;
          }
        }
        li.active,
        li:hover {
          span {
            background-color: $brand_color;
            color: white;
          }
        }

        aside {
          padding: 30px 0;
          color: gray;
          display: flex;
          justify-content: space-around;
          i {
            cursor: pointer;
          }
          i:hover {
            color: $brand_color;
          }
        }
      }
    }
  }
}
