.communication {
 position: relative;
 display: flex;
 width: 99%;

 &__sidebar {
  background-color: rgb(237, 236, 230);
  width: 250px;
  padding: 1.5rem 2rem;
  padding-top: 40px;
 }

 h5 {
  font-size: 1.1rem;
  cursor: pointer;

  &:hover {
   transition: .1s;
   font-size: 1.2rem;
   -webkit-transition: .1s;
   -moz-transition: .1s;
   -ms-transition: .1s;
   -o-transition: .1s;
}
 }

 &__dashboard {
  text-align: center;
  width: calc(100% - 250px);
  align-self: center;
  height: 90vh;
  padding-top: 20px;

  p{
   width: 300px;
   margin: auto;
  }
 }
}